<!-- <div style="height: 200px; background: lightgray;">
    Scroll down to load images
  </div> -->
  
  <div style="height: 1000px;">
    <img appLazyLoadImage="https://images.pexels.com/photos/1133957/pexels-photo-1133957.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Image 1" />
    <img appLazyLoadImage="https://images.pexels.com/photos/757889/pexels-photo-757889.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Image 2" />
    <img appLazyLoadImage="https://images.pexels.com/photos/906150/pexels-photo-906150.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Image 3" />
    <img appLazyLoadImage="https://images.pexels.com/photos/206648/pexels-photo-206648.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Image 4" />
  </div>